@font-face {
    font-family: "iconfont"; /* Project id 2962632 */
    src: url('//at.alicdn.com/t/font_2962632_5b0p3h7t7kc.woff2?t=1637741960469') format('woff2'),
         url('//at.alicdn.com/t/font_2962632_5b0p3h7t7kc.woff?t=1637741960469') format('woff'),
         url('//at.alicdn.com/t/font_2962632_5b0p3h7t7kc.ttf?t=1637741960469') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-boke:before {
    content: "\e600";
  }
  
  .icon-faxian_gefang:before {
    content: "\e60f";
  }
  
  .icon-faxian_youxizhuanqu:before {
    content: "\e614";
  }
  
  .icon-faxian_zhibo:before {
    content: "\e615";
  }
  
  .icon-faxian_zhuanzhumingxiang:before {
    content: "\e616";
  }
  
  .icon-meirituijian1-copy:before {
    content: "\e601";
  }
  
  .icon-faxian_gedan:before {
    content: "\e602";
  }
  
  .icon-paihangbang:before {
    content: "\e603";
  }
  
  .icon-sirenFM1:before {
    content: "\e604";
  }
  
  .icon-faxian_shuzizhuanji:before {
    content: "\e605";
  }
  